<html>
<body>
<h3> Hello ${user.firstName} ${user.lastName},</h3>
    <p>You're receiving this message because you have request to change your password. (If you didn't do it, you can ignore this email.)</p>
##    <p>Please copy the token below and paste or type it on the password reset form with your new password.</p>
    <p>Please go to the following url to change you password.</p>
##    <p>Token : <strong>${token}</strong></p>
    <a href="${webUrl}change-password/${token}/${user.username}">${webUrl}change-password/${token}/${user.username}</a>
    <p>Thank You</p>
    <p>Ufril Team</p>
</body>
</html>
